:root {
  /*
   * ─── COLORS VARIABLES ───────────────────────────────────────────────────────────
   */

  --bg-color: hsla(325, 100%, 98%, 100);
  --font-color-bight: hsla(0, 0%, 100%, 1);
  --font-color-dimm: hsla(0, 0%, 90%, 0.9);
  --font-color-magenta: hsla(328, 100%, 45%, 1);
  --font-color-purple: hsla(293, 92%, 25%, 1);
  --font-color-black: hsla(0, 0%, 0%, 0, 8);
  --main-color-magenta: hsla(328, 100%, 45%, 1);
  --main-color-purle: hsla(293, 92%, 25%, 1);
  --color-magenta-light: hsla(328, 100%, 45%, 0, 5);
  --color-purple-light: hsla(293, 92%, 25%, 0, 5);
  --color-fadeto: hsla(274, 100%, 50%, 0);

  /*
   * ─── BASE SIZE ──────────────────────────────────────────────────────────────────
   */

  font-size: 10px;

  /*
   * ─── TYPOGRAPHY ─────────────────────────────────────────────────────────────────
   */

  font-family: "Montserrat", sans-serif;
  user-select: none;
}

/*
 * ─── BASE MODIFYERS ─────────────────────────────────────────────────────────────
 */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.4rem;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: -0.015em;
  color: var(--font-color-purple);
  padding-right: 2rem;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.015em;
  color: var(--font-color-magenta);
  padding-right: 2rem;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 3rem;
  letter-spacing: -0.015em;
  color: var(--font-color-purple);
  padding-right: 2rem;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  color: var(--font-color-purple);
}

/*
 * ─── LAYOUT ──────────────────────────────────────────────────────────────────────
 */

body {
  max-width: 128rem;
  margin: auto;
}

button,
::file-selector-button,
input:is([type="color"], [type="reset"], [type="button"], [type="submit"]) {
  border: none;
}

form > * {
  border: none;
  border-width: 0;
}

/*
 * ─── FLOATING BUTTON COMPONENT ────────────────────────────────────────────────────────────
 */

.line {
  height: 0.1px;
  width: 18px;
  background-color: white;
  border: 0.4px solid white;
}

.floating-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: fixed;
  bottom: 5rem;
  right: 5rem;

  border-radius: 50%;
  background-blend-mode: multiply;
  transition: 3s;
  overflow: hidden;
  opacity: 0;
}

/*
 * ─── NAV COMPONENT ──────────────────────────────────────────────────────────────
 */

.nav-list {
  height: 6rem;
  color: var(--font-color-bight);
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}

.nav-list__logo {
  position: relative;
  top: 0.2rem;
  width: 12rem;
}

.nav-list__item:first-child {
  margin-right: auto;
}

.nav-list__menu {
  padding-right: 3rem;
}

/*
 * ─── HERO COMPONENT ─────────────────────────────────────────────────────────────
 */

.hero__content {
  display: flex;
  min-height: 30rem;
  height: 50vh;
  max-height: 98.8rem;
  overflow: hidden;
  background-color: var(--font-color-bight);
}

.hero__body {
  display: flex;
  flex-direction: column;
  flex-basis: 130vw;
  justify-content: center;
  padding: 0 1rem 3rem 5rem;
  height: 100%;
}

.hero__image-container {
  flex-basis: 130vw;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .hero__content {
    flex-wrap: wrap-reverse;
    height: 90vh;
    min-height: 52rem;
  }

  .hero__body {
    height: 45vh;
    min-height: 26rem;
    padding-bottom: 0;
  }

  .hero__image-container {
    height: 45vh;
    justify-content: flex-end;
    min-height: 26rem;
  }
}

/*
 * ─── MEDIA COMPONENT ────────────────────────────────────────────────────────────
 */

.media__content {
  margin-top: 0;
  display: flex;
  flex-direction: row-reverse;
  min-height: 30rem;
  height: 25vh;
  overflow: hidden;
  padding: 5rem;
  background-color: var(--font-color-bight);
}

.media__image-container {
  box-sizing: border-box;
  flex-basis: 60vw;
  overflow: hidden;
}

.media__body {
  box-sizing: border-box;
  flex-basis: 60vw;
  align-self: center;
  padding: 0 5rem 0 0;
}

.media__body > h3 {
  color: var(--font-color-magenta);
}

@media screen and (max-width: 720px) {
  .media__content {
    flex-wrap: wrap-reverse;
    min-height: 52rem;
    padding: 3rem 2rem;
    height: min-content;
  }

  .media__body {
    flex-basis: 100vw;
    min-height: 26rem;
    width: 100%;
    padding-bottom: 2rem;
  }

  .media__image-container {
    flex-basis: 100vw;
    padding: 0;
    height: 26rem;
  }

  .media__title,
  .media__text {
    width: 85vw;
  }
}

/*
 * ─── MEDIA2 HEADER COMPONENT ────────────────────────────────────────────────────
 */

.media2-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  padding: 3rem 0rem 0rem 5rem;
  background-color: var(--font-color-bight);
}

.media2-header__content > h2 {
  margin: 0;
}

/*
 * ─── MEDIA2 COMPONENT ───────────────────────────────────────────────────────────
 */

.media2__content {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  height: 35rem;
  overflow: hidden;
  padding: 5rem;
  background-color: var(--font-color-bight);
}

.media2__image-container {
  flex-basis: 60vw;
  box-sizing: border-box;
  flex-grow: 0;
  overflow: hidden;
}

.media2__body {
  flex-basis: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.media2__body > h3 {
  color: var(--font-color-magenta);
}

.media2__text {
  padding-left: 2rem;
  padding-right: 1rem;
  min-width: 30rem;
}

@media screen and (max-width: 720px) {
  .media2__content {
    flex-wrap: wrap-reverse;
    padding: 3rem 2rem;
    height: unset;
  }

  .media2__body {
    flex-basis: 100vw;
    min-height: 26rem;
    width: 100%;
  }

  .media2__image-container {
    flex-basis: 100vw;
    padding: 0;
    min-height: 26rem;
  }

  .media2__title,
  .media2__text {
    min-width: unset;
  }
}

/*
 * ─── MEDIA2 FOOTER COMPONENT ────────────────────────────────────────────────────
 */

.media2__footer-content {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 5rem;
  overflow: hidden;
  background-color: var(--font-color-bight);
}

.media2__footer-body {
  display: flex;
  max-width: 15rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  flex-basis: 8vw;
}

.media2__footer-text {
  padding: 1rem 0;
  width: 15rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
}

/*
 * ─── FORM COMPONENT ─────────────────────────────────────────────────────────────
 */

.form__content {
  height: fit-content;
  overflow: hidden;
  padding: 5rem;
  background-color: var(--font-color-bight);
}

.form__body {
  padding: 3rem 5rem 3rem 5rem;
}

.form__body > h3 {
  padding-left: 1rem;
}

.form__body-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
  gap: 1rem;
}

.form__body-field {
  margin: 1rem 0;
  font-size: 1.3rem;
  height: 4rem;
  padding: 1rem;
  color: var(--font-color-purple);
}

.form__body-message {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 3rem;
  height: unset;
}

@media screen and (max-width: 720px) {
  .form__body {
    padding: 3rem 1rem 3rem 1rem;
  }
}

/*
 * ─── DIVIDER COMPONENT ──────────────────────────────────────────────────────────
 */

.divider__content {
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--font-color-bight);
}

.separator1,
.separator2,
.separator1-hide,
.separator2-hide {
  height: 0.2rem;
  min-width: 5rem;
  max-width: 15rem;
  width: 25vw;
}

.divider__img {
  height: 2.6rem;
}

@media screen and (max-width: 720px) {
  .separator1-hide {
    display: none;
  }
  .separator2-hide {
    display: none;
  }
}

/*
 * ─── BREAKPOINTS ────────────────────────────────────────────────────────────────
 */

@media screen and (max-width: 720px) {
  /* Breakpoint common base modifyers */

  h1 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -0.015em;
  }

  /* Utility breakpoints */

  .hide-720 {
    display: none;
  }

  .show-720 {
    display: initial;
  }
}

@media screen and (max-width: 319px) {
  img {
    display: none;
  }
  a::after {
    content: attr(alt);
  }

  /* Under 320px width displaying not supported sign */
  html::before {
    content: "Figyelem! Ez a képernyőfelbontás nem támogatott!";
    color: red;
  }
}

/*
 * ─── UTILITY CALLSSES ───────────────────────────────────────────────────────────
 */

.colorgrad-bg-light {
  background: linear-gradient(
    90deg,
    rgb(252, 226, 242) 0%,
    rgba(255, 245, 251, 1) 50%,
    rgb(249, 232, 253) 100%
  );
}

.colorgrad-bg-dense {
  background: linear-gradient(
      90.5deg,
      var(--main-color-purle) 45%,
      var(--color-fadeto) 58%
    ),
    var(--main-color-magenta);
}

.glow-white:hover,
.glow-white:focus {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  transition: 0.5s ease-in;
}

.border-purple {
  border: 1px solid var(--font-color-magenta);
}

.ease-out {
  transition: 0.2s ease-out;
}

.box-shadow-light {
  box-shadow: 4px 4px 3px 3px rgba(21, 1, 255, 0.1);
}

.box-shadow-grey {
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.03);
}

.text-shadow-grey {
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.hide {
  display: none;
}

.container-pos {
  margin: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 1.7rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  width: 15rem;
  height: 4rem;
  color: var(--font-color-bight);
  background: linear-gradient(
      231.26deg,
      #6e057b 0.12%,
      rgba(143, 0, 255, 0) 99.81%
    ),
    #e3007a;
  border-radius: 6px;
}

.circle {
  width: 6rem;
  height: 6rem;
  background: linear-gradient(
      97.58deg,
      #6e057b 24.45%,
      rgba(143, 0, 255, 0) 79.47%
    ),
    #e3007a;
  border-radius: 34px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.circle-reverse {
  width: 6rem;
  height: 6rem;
  background: linear-gradient(
      231.26deg,
      #6e057b 0.12%,
      rgba(143, 0, 255, 0) 99.81%
    ),
    #e3007a;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

.center-text {
  text-align: center;
}

.media3-color-gradient-purple {
  background: linear-gradient(
    270deg,
    rgba(109, 5, 123, 0.15) 4.35%,
    rgba(255, 255, 255, 0) 50.29%
  );
}

.media3-color-gradient-pink {
  background: linear-gradient(
    90deg,
    rgba(227, 0, 121, 0.15) 4.35%,
    rgba(255, 255, 255, 0) 50.29%
  );
}

.componet-glue {
  margin-top: 0;
}

.flip-flex {
  flex-direction: row-reverse;
}

.border-radius {
  border-radius: 1.7rem;
}

.two-border-radius--right {
  border-radius: 0 1.7rem 1.7rem 0;
}

.two-border-radius--left {
  border-radius: 1.7rem 0 0 1.7rem;
}

@media screen and (max-width: 720px) {
  .two-border-radius--top {
    border-radius: 1.7rem 1.7rem 0 0;
  }

  .two-border-radius--bottom {
    border-radius: 0 0 1.7rem 1.7rem;
  }
}
